// 颜色变量
$color-primary: #409eff;
$color-success: rgb(99, 179, 38);
$color-warning: rgb(243, 137, 0);
$color-navbar-bg: #2c2e3e;
$color-text-light: #999;
// 尺寸变量
$topbar-height: 60px;
$navbar-width: 200px;
$base-fontsize: 12px;
$card-sidebar-width: 240px;
// 边框
$light-border-color: #ebeef5;
$normal-border: 1px solid #dcdfe6;
$light-border: 1px solid $light-border-color;