// 颜色变量
$color-primary: #409eff;
$color-navbar-bg: #2c2e3e;
// 尺寸变量
$topbar-height: 60px;
$navbar-width: 200px;
$base-fontsize: 12px;
$card-sidebar-width: 240px;
// 边框
$light-border-color: #ebeef5;
$light-border: 1px solid $light-border-color;
